Source: hello-world-version
Section: unknown
Priority: optional
Maintainer: Danny Edel <mail@danny-edel.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/hello-world-version.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/hello-world-version.git;a=summary

Package: hello-world-version
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
